// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
@import 'variables';
// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Creates width classes like w-40, w-60 ...
$i : 10;
@while $i <= 90 {
    .w-#{$i} {              //names like w-40, w-60
        width: #{"#{$i}%"};
    }
    $i : $i + 10;
}

@each $bp-name, $bp-pixels in $grid-breakpoints {   //looping through xs, sm, md, lg, xl and their pixel values
    $i : 10;
    @while $i <= 90 {
        @media (min-width: $bp-pixels){ //only works if the screen is wider than this
            .w-#{$bp-name}-#{$i} {  //names like w-md-40
                width: #{"#{$i}%"};
            }
        }
        $i : $i + 10;
    }
}

:root{
    --main-color: rgb(13, 0, 84);
    --secondary-color: rgb(255, 119, 0);
    --background-color: rgb(246, 246, 246);
    --accent-color: rgb(255, 188, 128);
}

.bg-main{
    background: var(--main-color) !important;
}

.bg-secondary{
    background: var(--secondary-color) !important;
}

.bg-grey{
    background: var(--background-color);
}

.text-secondary{
    color: var(--secondary-color) !important;
}

.navbar{
    height: 104px !important;
}

.mb-28{
    margin-bottom: 28px !important;
}

.fs-18{
    font-size: 18px !important;
}

.mt-50{
    margin-top: 50px !important;
}

.vertical{
    border-left: 6px;
    color: var(--secondary-color);
    height: auto;
    position: relative;
    margin: 0 15px 0 15px;
}

.h3-title{
    font-weight: 800;
    color: var(--main-color);
    font-family: Montserrat;
}

.h3-title::after{
    content: '';
    display: block;
    position: relative;
    top: 50%;
    width: 100px;
    height: 5px;
    background-color: var(--secondary-color);
    margin-top: 14px;
    z-index : 1;
}

li::marker{
    color: var(--main-color);
    font-size: 20px;
}

*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.sidebar {
    border-radius: 5px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 300px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    top: 50px;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.right{
    width: 750px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.left{
    display: inline-block;
    float: left;
    position: sticky;
}

.modal-dialog{
    width: auto;
    max-width: 1000px;
}

.modal-content{
    border: none !important;
    border-radius: 40px !important;
    padding: 2rem !important;
}

.modal-header{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color) !important;
}

.modal-body > p > span{
    color: var(--secondary-color);
    font-weight: 600;
}

.modal-body > .demo{
    text-align: center;
}

.modal-body > .exemple > span{
    color: black;
    font-weight: 600;
    margin-right: 16px;
}

.modal-body > p > img{
    margin: 0 10px;
    align-self: center;
}

.ajout{
    color: var(--main-color) !important;
}

.icon{
    height: 20px;
    width: 22px;
    margin: 16px;
}
.side{
    width: 275px;
    display: flex;
    flex-direction: row;
}

.side > a {
    border-bottom: 2px solid #FF790010;

}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 4; }

.navbar-text{
    font-size: 18px !important;
    font-weight: 500 !important;
    color: black !important;
    text-align: baseline;
}

.side .nav-item{
    margin-bottom: 0;
    height: 70px;
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover{
        background-color: #FF790010;
        border-left: 2px solid #FF790050;
    }
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table-borderless tr td:nth-of-type(2){
    font-size: 18px;
}

.active{
    background-color: #FF790010;
    border-left: 2px solid #FF790050;
}

.nav-item a:hover{
    color: #FFBC80 !important;
}

.table-striped{
    text-align: center;
    border: none;
}

.table-striped td, tr{
    border: none;
}

.table-striped td+td{
    border-left: 2px solid #FF7900;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #FFEDDE;
    color: var(--secondary-color);
    font-weight: 500;
}
.table-striped>tbody>tr:nth-child(odd)>td {
    --bs-table-accent-bg: #FFFFFF !important;
    color: var(--secondary-color);
    font-weight: 500;
}

.table-striped>thead{
    background-color: var(--secondary-color);
    color: #ffffff;
    font-weight: 500;
}

.table-striped img{
    height: 15px;
    width: 15px;
    margin: 0 5px 0 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.border-secondary{
    border: 3px solid var(--secondary-color) !important;
}

.page-item.disabled .page-link{
    color: var(--secondary-color);
}

.page-link{
    margin-right: 10px;
    height: 34px;
    width: 34px;
    text-align: center;
    border-radius: 50% !important;
}

.page-item.active{
    background-color: transparent;
    border: none;
}

.page-link{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--secondary-color);
    font-size: 16px;
    }

.page-item.active .page-link{
    background-color: var(--secondary-color);

}

.pagination-end .page-link{
    display: flex;
    width: unset;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    &.disabled{
        visibility: hidden;
    }
}

input{
    border: 2px solid var(--secondary-color) !important;
    color: white !important;
}

.remember-me{
    height: 18px;
    width: 18px;
    outline: 1.5px solid var(--secondary-color);
    background-color: transparent;
    &:focus, :active{
        box-shadow: none !important;
        outline: 1.5px solid var(--secondary-color);
    }
    &:checked{
        background-color: var(--secondary-color);
        color: white;
    }
}

select#nationality{
    border: 2px solid var(--secondary-color);
    color: white;
}

select#nationality option{
    color: black;
}

select#nationality:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

button#registerLink:hover,
button#nav-login:hover,
button#nav-login i:hover,
button#passwordLink:hover,
{
    color: var(--accent-color) !important;
}

.forgot{
    font-size: 12px;
}

button.voted{
    background: var(--secondary-color) !important;
    & img {
        filter: grayscale(100%) contrast(100) !important;
    }
}

button.disabled{
    border: 2px solid #B4B4B4 !important;
    cursor: not-allowed !important;
    & img{
        filter: invert(74%) sepia(1%) saturate(0%) hue-rotate(299deg) brightness(99%) contrast(88%) !important;
    }
}

.submission_form input{
    border: 2px solid var(--secondary-color) !important;
    border-radius: 15px !important;
    color: black !important;
}

.submission_form select{
    border: 2px solid var(--secondary-color) !important;
    border-radius : 15px !important;
    background-color: transparent;
}

.submission_form #enMacusi,
.submission_form #concept{
    border: none !important;
    color: var(--secondary-color) !important;
    width: 500px;
    background-color: transparent;
}

.submission_form .btn{
    background: var(--secondary-color);
    color: white !important;
    font-weight: bold;
    border-radius: unset;
}

.submission_form .btn:hover,
.password_edit_form .btn:hover{
    background: white !important;
    outline: 2px solid var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}

.submission_form .btn:focus,
.password_edit_form .btn:focus{
    background: white !important;
    outline: 2px solid var(--accent-color) !important;
    color: var(--accent-color) !important;
    border: none;
    box-shadow: unset;
}

#filters button.bg-secondary:hover{
    background: var(--accent-color) !important;
}

#filters button.bg-secondary:focus{
    background: var(--secondary-color) !important;
}

#filters button:hover{
    background: var(--accent-color);
}

.password_edit_form input{
    color: black;
}

.construction button{
    border: 2px solid var(--secondary-color) !important;
}

.construction button::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -4px;
    border-radius: 8px;
    width: calc(100% + 6px);
    height: calc(100% + 5px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
}

.construction button:hover::before{
    transform: scaleY(0);
}

.construction button:hover::after{
    transform: scaleX(0);
}

.construction button div{
    position: relative;
    z-index: 3;
}

.construction button::after{
    content: "";
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scalex(1);
}




